/* SocialLinks.module.css */
.headerSocialLinks a {
    font-size: 20px;
    margin: 0 6px;
    transition: 0.5s;
    color: var(--white-color);
}

.headerSocialLinks a:hover {
    color: var(--primary-color);
}

@media (max-width: 525px) {
    .headerSocialLinks a {
        font-size: 16px;
        margin: 0 4px;
    }
}



/* Section Heading */
.sectionTitle {
    color: var(--section-title);
    text-transform: uppercase;
    font-weight: 700;
    margin: 3rem 0 2rem 0rem ;
}
.sectionTitle1 {
    color: var(--section-title);
    text-transform: uppercase;
    font-weight: 700;
    margin: 3rem 0 2rem 2rem !important;
}



/* Main button */
.mainBtn {
    border: 1px solid transparent;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400px;
    background-color: var(--primary-color) !important;
    padding: 7px 17px;
    margin-top: 5rem;
    transition: 0.5s;
}

.mainBtn:hover {
    color: var(--primary-color) !important;
    background-color: var(--white-color) !important;
    border:1px solid var(--primary-color);
}



@media (max-width: 520px) {
    .mainBtn {
        margin-top: 2.5rem;
    }
}

@media (max-width: 400px) {

    .mainBtn {
        margin-top: 2rem;
        border: transparent;
        color: var(--white-color);
        background-color: var(--primary-color);
        font-size: 14px;
        font-weight: 400px;
        padding: 4px 8px;
    }
}












/* Symbol Shelf section */
.symbolshelf {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.symbolshelf i,
.symbolshelf p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}



.symbolshelf i {
    color: var(--primary-color);
}

.symbolshelf p {
    color: var(--white-color);
    transition: 0.5s;
}

.symbolshelf p:hover {
    color: var(--primary-color);
}

@media (max-width: 992px) {
    .symbolshelf {
        gap: 5px;
    }

    .symbolshelf i,
    .symbolshelf p {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
    }
}







/* Card styles */
.cardHeading {
    text-transform: uppercase;
}

.cardTitle {
    text-transform: uppercase;
    letter-spacing: 1px;
}




/* PageDefender */
.PageDefender{
    font-size: 14px;
    margin: 2rem 0 !important;
}