/* PricingCard.module.css */

.card {
    position: relative;
    padding: 35px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-bottom: 2rem;
}

.icon {
    position: absolute;
    top: -20px;
    left: 12px;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
    border: transparent !important;
}

.cardHeading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black-color);
}

.cardText {
    font-size: 14px;
    color: var(--black-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}



/* RequestPrice.module.css */

.requestPrice {
    background-color: var(--dark-bg-color);
    padding: 2rem 0;
    margin-top: -6rem;
    margin-bottom: 6rem !important;
}

.requestPriceTitle {
    border-bottom: 1px solid var(--white-color);
    position: relative;
    color: var(--white-color);
    width: fit-content;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.requestPriceRow1 {
    margin: 4rem auto;
}

.requestPriceRow2Col1 {
    display: flex;
   
    gap: 1.9rem;
}

.requestPriceRow2Col2 {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.requestPriceRow2Col2 a {
    color: var(--white-color);
    transition: 0.3s;
}

.requestPriceRow2Col2 a:hover {
    color: var(--primary-color);
}

@media (max-width: 1200px) {
    .requestPriceTitle {
        font-size: 2.7rem;
    }

    .requestPriceRow2Col1 {
        gap: 0.9rem;
    }
}


@media (max-width: 992px) {
    .requestPrice {
        background-color: var(--dark-bg-color);
        padding: 7rem 0 2rem 0;
        margin-top: -5rem !important;
    }

    .requestPriceRow1 {
        margin: 2rem auto;
    }
 
    .requestPriceTitle {
        font-size: 2.7rem;
    }
    .requestPriceRow2Col1 {
        display: flex;
        flex-wrap: wrap;
    }

    .requestPrice {
        margin-top: -15rem;
    }

    .requestPriceTitle {
        font-size: 1.8rem;
    }
}
@media (max-width: 767px) {
    .requestPriceRow2Col1 {
        display: flex;
        flex-wrap: wrap;
    }

    .requestPrice {
        margin-top: -15rem;
        margin-bottom: 3rem !important;
    }

    .requestPriceTitle {
        font-size: 1.8rem;
    }

    
}