.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 10px 0;
    gap: 2rem;
}

.card img {
    width: 60%;
    height: 150px;
}


.card-text {
    color: var(--black-color);
    text-transform: capitalize;
}





.communties {
    padding: 2.4rem 0;
    border-bottom: 1px dotted var(--section-title);
    border-top: 1px dotted var(--section-title);
    margin: 1rem 0 2rem;
}

.communties-body {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.communties-body-inner {
    width: 100%;
    margin: 10px;
}

.communties-body-inner:nth-child(2),
.communties-body-inner:nth-child(3),
.communties-body-inner:nth-child(4),
.communties-body-inner:nth-child(5) {
    border-left: 1px dotted var(--section-title) !important;
}


@media (max-width: 992px) {
    .communties-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 550px) {
    .communties-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card img {
        width: 70%;
        height: 70px;
    }

    .card {
        gap: 1.3rem;
    }
}