
.fl{
  margin: 3rem 0 2rem ;

}
.flContainer {
    position: relative;
    width: 100%;
    height: 360px;
    margin: 3rem 0 13rem;
  }

  
  .flSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease;
    z-index: 1;
  }
  
  .flSlide.active {
    opacity: 1;
  }
  
  .flSocialLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
  }
  
  .flBtnContainer {
    position: absolute;
    top: 10px;
    left: 0px;
  }

  .ribbon {
    position: absolute;
    top: 20px;
    left: -20px; 
    width: 120px;
    height: 38px;
    line-height: 30px;
    background: var(--primary-color); 
    color: white;
    padding-left: 13px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: transparent;
}
.ribbon::before {
    content: "";
    position: absolute;
    right: -18px;
    top: 0;
    border-top: 19px solid var(--primary-color);
    border-bottom: 19.5px solid var(--primary-color);
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
}

.sale,
.rent {
  color: var(--white-color);
  bottom: 10px;
}

.sale {
  background-color: var(--primary-color);
}

.rent {
  background-color: var(--dark-bg-color);
}
 
.rent::before {
  border-top: 19px solid var(--dark-bg-color);
  border-bottom: 19.5px solid var(--dark-bg-color);
}


  .flPrice {
    position: absolute;
    bottom: 20px !important;
    left: 25px !important;
    font-size: 2rem;
    line-height: 35px;
    color: var(--white-color);
    letter-spacing: 1px;
  }
  
  .flPrice > strong{
text-transform: uppercase;
  }
  
  .flPrevious,
  .flNext {
    position: absolute;
    bottom: 28px;
    border: 2px solid transparent;
    font-size: 14px;
    padding: 2px 6px;
    font-weight: bold;
    color: var(--black-color);
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white-color);
    transition: 0.5s;
    z-index: 1;
  }
  
  .flPrevious:hover,
  .flNext:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
  }
  
  .flPrevious {
    right: 50px;
  }
  
  .flNext {
    right: 10px;
  }
  







  
  .textSection {
    position: absolute;
    margin-top: 22.4rem !important;
    padding: 20px;
    width: 100%;
    background: #F2F2F2; 
    margin-bottom: 10rem !important;
    text-transform: uppercase;
    color: var(--section-title);
  }

  .textSection h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  

  .flProduct {
    padding: 4px auto;
    text-align: center;
    margin: 1.2rem 0;
  }
  .flProduct p{
font-size: 14px;
    }
  .flProduct h5{
  font-weight: 500;
  margin-top: 12px !important;
  }
  
  .flProduct:nth-child(1),
  .flProduct:nth-child(2),
  .flProduct:nth-child(3){
    border-right: 1px dotted var(--section-title);
   }
   .flsubProduct{
    font-size: 12px;
    text-align: center;
   }

   @media (max-width: 600px) {
    .fl{
      margin: 3rem 1rem 2rem ;
    
    }
   }
     