/* ///////////////////////////////// Symbol Shelf section */
.symbolshelf {
    display: flex;
    gap: 11px;

}

.symbolshelf i,
.symbolshelf p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.symbolshelf i {
    color: var(--primary-color);
}

.symbolshelf p {
    color: var(--white-color);
    transition: 0.5s;
}

.symbolshelf p:hover {
    color: var(--primary-color);
}

@media (max-width: 992px) {
    .symbolshelf {
        gap: 5px;

    }

    .symbolshelf i,
    .symbolshelf p {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
    }
}








.card-heading {
    text-transform: uppercase;
}

.card-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}


.coummunicate-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 10px 0;
    gap: 2rem;
    
}

.coummunicate-card img {
    width: 70%;
    height: 120px;
}
@media (max-width: 550px) {
    .coummunicate-card img {
        width: 70%;
        height: 70px;
    }
    .coummunicate-card {
        gap: 1rem;
        
    }
}

.coummunicate-card-text {
    color: var(--black-color);
    text-transform: capitalize;
}

/* Latest news card */
.latest-news-card{
    border: 1px solid var(--section-title);
    margin-bottom: 1rem;
}
.latest-news-card img{
    width: 100%;
    height: auto;
}
.latest-news-card-inner{
    padding: 1.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;

}
.latest-news-card-inner-h{
    font-size: 1.2rem;
    font-weight: bold;
}
.latest-news-card-inner-p{
    font-size: 14px;
    width: 90%;
    color: var(--section-title);
}
.latest-news-card-inner-a{
    font-size: 14px;
    color: var(--black-color);
    text-transform: capitalize;
}