/* Footer.module.css */

.footer {
    background-color: var(--dark-bg-color);
    margin-top: 7rem;
    position: relative;
    padding: 4rem 0;
}
/* Subscrive Section */
.subscribeSection {
    background-color: var(--primary-color);
    width: 94% !important;
    top: -5rem;
    left: 0;
    margin: 0 2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem ;
}

.subscribeCol2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.subscribeSection h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white-color);
    text-transform: capitalize;
}

.subscribeEmail {
    background-color: var(--white-color);
    padding: 6px 2rem 6px 1rem;
    border: 2px solid transparent;
    color: var(--section-title);
    width: 100%;
}

.subscribeBtn {
    background-color: var(--dark-bg-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    padding: 5px 17px;
    transition: 0.5s;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.subscribeBtn:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}


@media (max-width: 1100px) {
    .subscribeSection h2 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--white-color);
        text-transform: capitalize;
    }
}

@media (max-width: 992px) {
    .subscribeSection {
        gap: 8px !important;
    }
    .subscribeEmail {
        padding: 6px;
    }

    .subscribeCol1,
    .subscribeCol2 {
        width: 100%;
        gap: 0.4rem;
    }
    .subscribeSection {
        width: 90% !important;
    }
    .subscribeCol2 {
        justify-content: flex-end !important;
    }

    .subscribeSection h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 650px) {
    .subscribeSection {
        padding: 1rem;
        top: -4rem;
        width: 90%;
    }
    .subscribeSection h2 {
        font-size: 1rem;
    }

    .subscribeCol2 {
        justify-content: flex-end !important;
        flex-direction: column;
    }


    .subscribeBtn,
    .subscribeEmail {
        font-size: 14px;
        width: 100%;
    }
}




/* Footer Main */
.footerRow {
    margin-top: 4rem;
}

.footerCol {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.footerCol{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.footerCol:nth-child(1) > p{
    width: 70%;
  }
  .footerCol:nth-child(2) > ul li{
   line-height: 26px;
  }

.footerText {
    font-size: 16px;
    color: var(--white-color);
}

.footerText a {
    color: var(--white-color);
    transition: 0.5s;
}

.footerText a:hover {
    color: var(--primary-color);
}

.footerHeading {
    color: var(--white-color);
    font-weight: 600;
}

.footerCol3Flex {
    display: flex;
    gap: 10px;
    align-items: center;
}


.footerCol3Icon {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    font-size: 2.7rem !important;
    padding: 0.6rem;
    right: 0;
}

.footerEnd {
    background-color: var(--black-color);
    text-align: center;
    padding: 12px;
}

.footerEnd p {
    color: var(--white-color);
}

@media (max-width: 1200px) {
    .footerCol:nth-child(1) > p{
        width: 100%;
      }
}


@media (max-width: 650px) {
    .footerEnd p {
        font-size: 13px;
    }
}
