.footer {
    background-color: var(--secondary-color);
    margin-top: 8rem;
    padding: 2rem 0;
}

/* Subscrive Section */
.footer-subscription-section {
    background-color: var(--primary-color);
    margin-top: -7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem ;
}
.footer-subscription-title {
    font-size: 3rem;
    font-weight: 600;
    width: 600px;
    color: var(--white-color);
    text-transform: capitalize;
}

.footer-subscription-email-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-subscription-input-email {
    background-color: var(--white-color);
    padding: 6px 10rem 6px 1rem;
    border: 2px solid transparent;
    color: var(--section-title);
    width: 100% !important;
}

.footer-subscription-button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    padding: 5px 17px;
    transition: 0.5s;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.footer-subscription-button:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

/* Footer Main */
.footer-content {
    margin-top: 4rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-column:nth-child(1) > p {
    width: 70%;
}

.footer-column:nth-child(2) > ul li {
    line-height: 26px;
}

.footer-link {
    font-size: 16px;
    color: var(--white-color) ;
}

.footer-link a {
    color: var(--white-color);
    transition: 0.5s;
}

.footer-link a:hover {
    color: var(--primary-color);
}

.footer-title {
    color: var(--white-color);
    font-weight: 600;
}

.footer-column-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-column-icon {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    font-size: 2.7rem !important;
    padding: 0.6rem;
    right: 0;
}

.footer__copyright {
    background-color: var(--black-color);
    text-align: center;
    padding: 12px;
}

.footer__copyright p {
    font-size: 12px;
    color: var(--white-color);
}
@media (max-width: 1400px) {
    .footer-subscription-section {
        margin-top: -7rem;
        padding: 2.5rem ;
    }
    .footer-subscription-title {
        font-size: 2rem;
        font-weight: 600;
        width: 400px;
    }
    .footer-subscription-input-email {
        padding: 6px 8rem 6px 1rem;
    }
}
@media (max-width: 1200px) {
    .footer-column:nth-child(1) > p {
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .footer-subscription-section {
        padding: 1.5rem ;
    }
    .footer-subscription-title {
        font-size: 1.5rem;
        font-weight: 600;
        width: 400px;
    }
    .footer-subscription-input-email{
        padding: 6px 3rem 6px 2px;
    }
    .footer-subscription-email-section {
        justify-content: flex-end !important;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.3rem;
    }
}

@media (max-width: 767px) {
.footer-subscription-section {
    background-color: var(--primary-color);
    margin-top: -7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem ;
}

.footer-subscription-button ,
.footer-subscription-input-email{
    font-size: 14px !important;
    padding: 5px 17px !important;
    width: 100% !important;
}
}
