/* HotListings.module.css */

.hotListining {
    margin-top: 2rem;
}

.hotListiningRow {
    padding-top: 3rem;
}

.hotListiningCol1 > p:nth-child(1) {
    color: var(--primary-color) !important;
    font-weight: bolder;
    font-size: 16px;
}

.hotListiningCol1 > h1 {
    color: var(--black-color);
    font-size: 3rem; 
    font-weight: bolder;
    text-transform: capitalize;
}

.hotListiningCol1 > dt {
    color: var(--black-color);
    font-size: 1.2rem;
    margin-top: 10px;

}

.hotListiningCol1 > p {
    color: #9C9C9C;
    font-size: 16px;
    line-height: 27px;
}

@media (max-width: 992px) {
    .hotListiningCol1 {
        margin: 0rem 0 3rem 0;
    }
}

@media (max-width: 400px) {
    .hotListiningCol1 > p:nth-child(1) {
        color: var(--primary-color) !important;
        font-weight: bolder;
        font-size: 12px;
    }

    .hotListiningCol1 > h1 {
        color: var(--black-color);
        font-size: 2.5rem;
        font-weight: bolder;
        text-transform: capitalize;
    }

    .hotListiningCol1 > dt {
        color: var(--black-color);
        font-size: 1rem;
    }

    .hotListiningCol1 > p {
        color: var(--section-title);
        font-size: 13px;
    }
}


















/* HotListingSlider.module.css */

.sliderContainer {
    position: relative;
    width: 100%;
    height: 490px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.slide.active {
    opacity: 1;
}

.buttonContainer {
    position: absolute;
    top: 15px;
    left: 15px;
}

.slideButton {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.sale,
.rent {
    color: var(--white-color);
    bottom: 10px;
}

.sale {
    background-color: var(--primary-color);
}

.rent {
    background-color: var(--dark-bg-color);
}

.details {
    color: var(--black-color);
    background-color: var(--white-color);
    position: absolute;
    bottom: 15px !important;
    right: 15px !important;
}

.previous,
.next {
    position: absolute;
    top: -2rem;
    border: transparent;
    font-weight: bold;
    color: #D9D9D9;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    transition: 0.2s;
    text-transform: uppercase;
  margin-top: -0.8rem;
}

.previous span,
.next span {
  font-weight: 700;
    color: var(--black-color);
}

.previous:hover,
.next:hover,
.previous:hover span,
.next:hover span {
    color: var(--primary-color);
}

.previous {
    left: 0px;
}

.next {
    right: 0px;
}

@media (max-width: 400px) {
    .slide {
        height: 70%;
    }

    .previous,
    .next {
        font-size: 12px;
    }
}
