
.hotlisting {
    margin-top: 3rem;
}

.hotlisting-item {
    padding-top: 3rem;
}

.hotlisting-item-description>p:nth-child(1) {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 20px;
}

.hotlisting-item-description>h1 {
    color: var(--black-color);
    font-size: 3.5rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.hotlisting-item-description>dt {
    color: var(--black-color);
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 500 !important;

}

.hotlisting-item-description>p {
    color: #9C9C9C;
    font-size: 20px;
    line-height: 27px;
}


/*  Slider */

.slider {
    position: relative;
    width: 100%;
    height: 600px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.slide.active {
    opacity: 1;
}

.btn-handler {
    position: absolute;
    top: 30px;
    left: 30px;

}

.slide-btn {
    margin-right: 15px;
    padding: 6px 15px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.sale,
.rent {
    color: var(--white-color);
    bottom: 10px;
}

.sale {
    background-color: var(--primary-color);
}

.rent {
    background-color: var(--secondary-color);
}

.details {
    color: var(--black-color);
    background-color: var(--white-color);
    position: absolute;
    bottom: 30px !important;
    right: 20px !important;
}

.previous,
.next {
    position: absolute;
    top: -3rem;
    border: transparent;
    font-weight: bold;
    color: #B2B2B2;
    cursor: pointer;
    font-size: 19px;
    background-color: transparent;
    transition: 0.2s;
    text-transform: uppercase;
    margin-top: -1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.previous span,
.next span {
    font-size: 32px;
    font-weight: 400 !important;
    color: var(--black-color);
}


.previous {
    left: 0px;
}

.next {
    right: 0px;
}












/* PricingCard.module.css */

.card {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.icon {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 75px;
    height: 75px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-radius: 50%;
    border: transparent !important;
}

.cardHeading {
    margin-bottom: 10px;
    font-size: 2.9rem;
    font-weight: 700;
    color: var(--black-color);
}

.cardText {
    font-size: 19px;
    color: var(--black-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}




.price-section {
    background-color: var(--secondary-color);
    margin: -8rem auto 6rem;
    padding: 3rem 0 1rem !important;
}

.price-title {
    border-bottom: 0.5px solid var(--white-color);
    position: relative;
    color: var(--white-color);
    width: fit-content;
    font-size: 3.4rem;
    padding-bottom: 12px;
    font-weight: 700;
    text-transform: capitalize;
}

.price-section-inner {
    margin: 6rem auto 5rem;

}


@media (max-width: 1400px) {
    .price-title {
        font-size: 3rem;
    }

    .hotlisting-item-description>p:nth-child(1) {
        font-size: 18px;
    }

    .hotlisting-item-description>h1 {
        font-size: 3.1rem;
    }

    .hotlisting-item-description>dt {
        font-size: 1.3rem;

    }

}

@media (max-width: 1200px) {

    .price-title {
        font-size: 2.5rem;
    }

    .hotlisting-item-description>p:nth-child(1) {
        font-size: 16px;
    }

    .hotlisting-item-description>h1 {
        font-size: 2.7rem;
    }

    .hotlisting-item-description>dt {
        font-size: 1.1rem;
    }

    .hotlisting-item-description>p {
        font-size: 17px;
    }

    .slider {
        height: 560px;
    }

    .card {
        height: 140px;
    }

    .icon {
        width: 65px;
        height: 65px;
        font-size: 33px;
    }

    .cardHeading {
        font-size: 2.2rem;
    }

    .cardText {
        font-size: 16px;
    }

    .price-section-inner {
        margin: 6rem auto 4.5rem;

    }

}


@media (max-width: 992px) {

    .price-title {
        font-size: 3rem !important;
    }

    .price-section {
        margin: -8rem auto 6rem;
        padding: 9rem 0 1rem !important;
    }

    .price-section-inner {
        margin: 4rem auto 0rem;

    }

    .slider {
        margin-top: 5rem;
        height: 500px;
    }

    .card {
        margin-bottom: 3rem;
    }

    .hotlisting-item-description>p:nth-child(1) {
        font-size: 18px;
    }

    .hotlisting-item-description>h1 {
        font-size: 3.1rem;
    }

    .hotlisting-item-description>dt {
        font-size: 1.7rem;

    }
}

@media (max-width: 455px) {

    .price-title {
        font-size: 2rem !important;
    }

    .price-section {
        margin: -8rem auto 6rem;
        padding: 9rem 0 1rem !important;
    }

    .price-section-inner {
        margin: 3rem auto 0rem;

    }

    .slider {
        height: 350px;
    }

    .card {
        margin-bottom: 3rem;
    }

    .hotlisting-item-description>p:nth-child(1) {
        font-size: 12px;
    }

    .hotlisting-item-description>h1 {
        font-size: 2.1rem;
    }

    .hotlisting-item-description>dt {
        font-size: 0.9rem;

    }

    .hotlisting-item-description>p {
        font-size: 14px;
        line-height: 19px;
    }

    .previous,
    .next {
        font-size: 14px;
        margin-top: -0rem;
        gap: 10px;
    }

    .previous span,
    .next span {
        font-size: 20px;
    }
}