










.latestNewsTitle {
    margin: 1rem 0 2.5rem !important;
    font-weight: 700;
}







/* NewsCard.module.css */

.newsCard {
    border: 2px solid var(--text-color);
    margin-bottom: 1rem;
}

.newsCard img {
    width: 100%;
    height: auto;
}

.newsCardInner {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.newsCardInnerH {
    font-size: 1.2rem;
    font-weight: bold;
}

.newsCardInnerP {
    font-size: 14px;
    width: 90%;
    color: var(--section-title);
}

.newsCardInnerA {
    font-size: 14px;
    color: var(--black-color);
    text-transform: capitalize;
}

