:root {
  --white-color: #FFFFFF;
  --primary-color: #F29F05;
  --light-primary: #F29F05;
  --black-color: #000000;
  --secondary-color: #0583F2;
  --text-color: #DEDEDE;
  --section-title: #686868;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

p {
  margin: 0 !important;
}

input,
select,
option {
  box-shadow: none !important;
  outline: none !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

textarea:focus {
  outline: none !important;
}


